body {
  background-color: #e68ab8;
  text-align:  left;
  width: 580px;
  margin-right: auto;
  margin-left : auto;
}
canvas { 
  border: 2px solid #000;
  position:absolute;
  top:20;
  left:20;
  margin: 30px;
  visibility: hidden;
  }